@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: #61c069;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #b3b01b;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #2e7e5d;
  margin-top: 5rem;
  width: 100%;
  padding: 2rem;
  border-radius: 15px;
  border: 5px solid rgb(49, 73, 47);
}

.Todoform {
  width: 100%;
  margin-bottom: 1rem;
  
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #afeca7;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #326336;
  color: #fff;
  border: 50px;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #74cc8a;
  color: #f7f3f3;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #f5f5f5;
  cursor: pointer;
}

.completed {
  color: #eeebf3;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 